* {
	margin:0px;
	padding:0px;
}
#wrapper {
	width:1000px;
	margin:0px auto;
}
header, main, footer, body, section, nav, aside {display:block;}
.logo {
	background: url(../images/logo.png) no-repeat center;
	height:68px;
	width:68px;
	display:block;
}
.logo_lay1 {
	margin-left:104px;
	margin-top:10px;
	margin-bottom:48px;
}
#nav_lay1 ul{
	float:right;
	list-style-type: none;
}
#nav_lay1 li{
	float:left;
}
.nav_link_style {
	color: #ffffff;
	text-align:center;
	text-decoration:none;
	width:243px;
	height:58px;
	line-height:58px;
	display:block;
	background-color:#b94a48;
}

.active{
	background-color: #333333;
}
aside {
	float:left;
	background-color:#f2dede;
	height:696px;
	width:121px;
	clear: both;
	}
.box1_l1{
	width: 826px;
	height: 262px;
	background-color: #ee5f5b;
	float: right;
}
.box2_l1{
	position:relative;
	background-color:#000000;
	opacity:0.6;
	width:126px;
	height:94px;
	left:342px;
	top:89px
}
.box3_l1 {
	float:left;
	position:relative;
	height:180px;
	width:692px;
	top:224px;
	left:97px;
	background-color:#000000;
	opacity:0.6;
}
.lay1_foot{
	height:121px;
	background-color:#d6d6d6;
	clear: both;
}

.logo_lay2{
	margin-left: auto;
	margin-right: auto;
	margin-top:36px;
	margin-bottom: 85px;
}
#nav_lay2{
		float:left;
		height:758px;	
		background-color:#333333;
	}
#nav_lay2 ul{
	list-style-type: none;
}
.nav_link_style2 {
	color: #ffffff;
	text-decoration:none;
	width:243px;
	padding-left: 10px;
	height:58px;
	line-height:58px;
	display:block;
}
.active2{
	background-color: #b94a48;
}
.red_zone{
	width:740;
	height:758px;	
	position: relative;
	background-color: #ee5f5b;
	overflow: hidden;
}
.l2box_style{
	background-color:#000000;
	opacity:0.6;
	position: relative;
	width: 206px;
	margin-left: 30px;
}
.box1_l2{
	height: 369px;
	float: left;
}
.box2_l2{
	height: 500px;
	float: left;
}
.box3_l2{
	float: left;
	height:223px;
}
.box4_l2{
	float: left;
	position: absolute;
	overflow: hidden;
	top:369px;
	margin-top: 20px;
	height: 500px;
}
.box5_l2{
	float: left;
	position: absolute;
	overflow: hidden;
	top: 500px;
	right:267px;
	margin-top: 20px;
	height: 306px;
}
.lay2_foot{
	position:fixed;
	height:50px;
	width:993px;
   	bottom:0px;
	background-color:#d6d6d6;
}
